*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/release/google-services.json
/app/src/benchmarkRelease/google-services.json
/app/src/nonMinifiedRelease/google-services.json
# Kotlin 2.0
.kotlin/
/app/release/app-release.apk
